.zoomInRight{
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
.zoomOut{
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
.flipInX{
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;

}
.heartBeat{
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;

}
.rotateIn{
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;

}